<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body class="register" >
    <div class="register1" >
        <h2> register</h2>
        <form action="/register" method="post">
            <div>
                        <input placeholder="enter user name" name ="username"/>

            </div>
            <div>
                            <input placeholder="enter user pwd" name = "password"/>

            </div>
            <div>
                            <input placeholder="enter user pwd again" name = "password2"/>

            </div>
        <button type="submit"> enter</button>

        </form>


    </div>
</body>
</html>
