:root {
  --bachground-color: #37505c;
  --yellow: #F2C14E;
}

body {
  background-color: #37505c;
  color: #a3a3a3;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  box-sizing: border-box;
}

.splash-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 9rem;
}


.navbar-default {
  background: linear-gradient(var(--yellow), #a3a3a300);
}

.navbar-header {
  float: left;
  padding: 15px;
  text-align: center;
  width: 100%;
}

.navbar-brand {
  font-family: "Orbitron", sans-serif;
  color: var(--bachground-color);
  font-size: 2.5rem;
  font-weight: 900;
  float: none;
}

.splash-title {
  font-family: "Orbitron", sans-serif;
  color: var(--yellow);
}

.container {
  width: 400px;
  padding: 16px;
  background-color: #54707d77;
  border: 1px solid #F2C14E77;
  border-radius: 4px;
  box-shadow: 0 0 10px #F2C14E77;
}

.container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.container input[type="text"],
.container input[type="password"] {
  width: 100%;
  border-radius: 4px;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.container button {
  background-color: var(--yellow);
  color: var(--bachground-color);
  font-weight: 500;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.container button:hover {
  opacity: 0.8;
}

.container .signup {
  text-align: center;
  margin-top: 20px;
}

.signup > a {
  color: var(--yellow);
}

.imageholder {
  position: absolute;
  bottom: -5vh;
  right: -10vw;
  width: 40%;
  z-index: -1;
  pointer-events: none;
  opacity: 0.25;
}